.header-bg{
    background-color: rgb(255, 249, 244);
    height: 100vh;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28250, 128, 76, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav{
    background-color: rgba(0,0,0,0.8);
    
}

nav ul li a{
    color: white!important;
}
.navbar-toggler{
    border: 1px solid rgb(2, 2, 56);
}
.nike{
    color: rgb(250, 128, 76);
}
.infinity{
    color: #363958;
}
.card img{
    height: 300px;
    background-color: #F1F1F1;
}

footer{
    background-color:rgb(15, 15, 31) ;
}

@media only screen and (max-width:768px) {
    .header-bg{
        height: 130vh;
    }
    .card img{
        height: 300px;
        
    }
    
    .header-right{
        margin-top:40px;
    }
  }



